{% comment %} {% extends 'inventory/base.html' %} {% endcomment %}

{% block content %}
<div class="uk-grid-match uk-margin-remove-left" uk-grid>

	<div class="uk-width-1-6@m uk-invisible"></div>

	<div class="uk-width-expand uk-padding-remove">
		<table class="uk-table uk-table-middle uk-table-divider">
			<thead>
				<tr>
					<th>Ingredient</th>
					<th>Quantity</th>
					<th class="uk-table-shrink">Unit</th>
					<th>Price per unit</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for ingredient in object_list %}
				<tr>
					<td><h3>{{ ingredient.ingredient_name }}</h3></td>
					<td>{{ ingredient.quantity }}</td>
					<td class="uk-table-shrink">{{ ingredient.unit }}</td>
					<td>{{ ingredient.unit_price }}</td>
					<td>
						<div class="uk-button-group">
							<a class="uk-button uk-button-default uk-button-small" href="{% url 'update_ingredient' ingredient.pk %}">Edit</a>
							<a class="uk-button uk-button-default uk-button-small" href="{% url 'delete_ingredient' ingredient.pk %}">Delete</a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="uk-button uk-button-secondary uk-button-small" href="{% url 'create_ingredient' %}">Add new ingredient</a>
	</div>

	<div class="uk-width-1-6@m uk-invisible"></div>

</div>
{% endblock %}