{% extends 'inventory/base.html' %}

{% block content %}
<style>

#table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	
  }
  th,td{
	border: 1px solid #ddd;
	padding: 20px;
	
  }
  
  tr {background-color: pink;}
  tr:hover {background-color:#C5B4E3;}
  th {
	padding-top: 12px;
	padding-bottom: 12px;
	{% comment %} text-align: left; {% endcomment %}
	background-color: #DE50A8;
	color: white;
	font-weight:bold;
  }

  a{
	color: blue;
  }

  a:hover{
	color: #AA336A;
  }
  h4{
	color: black;
  }
  
</style>
<div class="uk-grid-match uk-margin-remove-left" uk-grid id="tables">

	<div class="uk-width-1-6@m uk-invisible"></div>

	<div class="uk-width-expand uk-padding-remove">


		<table class="uk-table uk-table-middle uk-table-divider">
			<thead>
				<tr>
					<th>Ingredient</th>
					<th>Quantity</th>
					<th class="uk-table-shrink">Unit</th>
					<th>Price per unit</th>
					<th>Actions</th>
					
				</tr>
			</thead>
			<tbody>
				<h4>Your Ingredients</h4>
				{% for ingredient in object_list %}
				<tr>
					<td><h5>{{ ingredient.ingredient_name }}</h5></td>
					<td>{{ ingredient.quantity }}</td>
					<td class="uk-table-shrink">{{ ingredient.units }}</td>
					<td>{{ ingredient.unit_price }}</td>
					<td>
						<div class="uk-button-group">
							<a class="uk-button uk-button-default uk-button-small" href="{% url 'update_ingredient' ingredient.pk %}">Edit</a>
							<a class="uk-button uk-button-default uk-button-small" href="{% url 'delete_ingredient' ingredient.pk %}">Delete</a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="uk-button uk-button-secondary uk-button-small" href="{% url 'create_ingredient' %}">Add new ingredient</a>
	</div>

	<div class="uk-width-1-6@m uk-invisible"></div>

</div>
{% endblock %}