{% extends 'inventory/base.html' %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}


{% block content %}
<div class="uk-grid-match uk-margin-remove-left" uk-grid>

	<div class="uk-width-1-6@m uk-invisible"></div>

	<div class="uk-width-expand uk-padding-remove">
		<table class="uk-table uk-table-middle uk-table-divider">
			<thead>
				<tr>
					<th>Dish</th>
					<th>Consist</th>
					<th>Price</th>
					{% comment %} <th>Actions</th> {% endcomment %}
				</tr>
			</thead>
			<tbody>
				{% for item in object_list %}
				<tr>
					<td><h3>{{ item.recipe }}</h3></td>
					{% comment %} <td>{{ item.ingredients }}</td> {% endcomment %}
					{% comment %} <td><button class="uk-button uk-button-default uk-button-small" href="{% url 'reciperequirement' reciperequirement.pk %}">Ingredients</button></td> {% endcomment %}
					<td><a class="uk-button uk-button-default uk-button-small" href="{% url 'reciperequirement' %}">View Ingredients</a></td>
					<td>{{ item.price }}</td>
					
					{% comment %} <td> {% endcomment %}
						{% comment %} <div class="uk-button-group">
							<button class="uk-button uk-button-default uk-button-small" href="{% url 'update_menu'%}">Edit</button>
							
							<button class="uk-button uk-button-default uk-button-small" href="{% url 'delete_menu'%}">Delete</button>
						</div> {% endcomment %}
					{% comment %} </td> {% endcomment %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="uk-button uk-button-secondary uk-button-small" href="{% url 'create_menu' %}">Add new Recipe</a>
	</div>

	<div class="uk-width-1-6@m uk-invisible"></div>

</div>

<div class="uk-grid-match uk-margin-remove-left" uk-grid>

	<div class="uk-width-1-6@m uk-invisible"></div>

	<div class="uk-width-expand uk-padding-remove">


	
{% endblock %}