{% comment %} {% extends 'base.html'%} {% endcomment %}
{% load static %}
{% block content %}
<form method="post">
  <div class="d-flex justify-content-center">
    <h4>Enter Purchase:</h4>
  </div>
  <div>
    {% csrf_token %}
    <label for="menu_item">Menu Item:</label>
    <select name="menu_item" id="menu_item">
      <option value selected>----------</option>
      {% for item in menu_items %}
      <option value="{{item.recipe}}">{{item.recipe}}</option>
      {% endfor %}
    <input id="purchase-btn" class="btn btn-primary btn-lg" type="submit" value="Add Purchase" />
  </div>
</form>
{% endblock %}