{% extends 'inventory/base.html' %}

{% block content %}
<div class="uk-grid-match uk-margin-remove-left" uk-grid>

	<div class="uk-width-1-6@m uk-invisible"></div>

	<div class="uk-width-expand uk-padding-remove">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="uk-fieldset">
				<legend class="uk-legend uk-text-bold">Update ingredient</legend>
				{{ form.as_p }}
			</fieldset>
			<button class="uk-button uk-button-primary" type="submit">Update</button>
		</form>
	</div>

	<div class="uk-width-1-6@m uk-invisible"></div>

</div>
{% endblock %}